[defaults]
hostfile = hosts
remote_user = vagrant
# You're going to want to change the following line to match your key path
# note the {{ hostname }} variable - that is defined in the host_vars files
private_key_file = /Users/rsherman/Documents/open_source_projects/Ansible-HA-deployer-example/.vagrant/machines/{{ hostname }}/virtualbox/private_key
#host_key_checking = False
